In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

sns.set_style('whitegrid')

#### Input and frist analysis data

In [41]:
df = pd.read_csv('data/State_of_data_2022.csv')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4271 entries, 0 to 4270
Columns: 353 entries, ('P0', 'id') to ('P8_d_11 ', 'Criando e mantendo a infra que meus modelos e soluções rodam (clusters, servidores, API, containers, etc.)')
dtypes: bool(1), float64(284), object(68)
memory usage: 11.5+ MB

In [43]:
df.isnull().sum()

('P0', 'id')                                                                                                                     0
('P1_a ', 'Idade')                                                                                                              74
('P1_a_1 ', 'Faixa idade')                                                                                                       0
('P1_b ', 'Genero')                                                                                                              9
('P1_c ', 'Cor/raca/etnia')                                                                                                      0
                                                                                                                              ...
('P8_d_7 ', 'Realizando construções de dashboards em ferramentas de BI como PowerBI, Tableau, Looker, Qlik, etc.')            3642
('P8_d_8 ', 'Utilizando ferramentas avançadas de estatística como SAS, SPSS, Stata etc, para realizar análises.')             3642
('P8_d_9 ', 'Criando e dando manutenção em ETLs, DAGs e automações de pipelines de dados.')                                   3642
('P8_d_10 ', 'Criando e gerenciando soluções de Feature Store e cultura de MLOps.')                                           3642
('P8_d_11 ', 'Criando e mantendo a infra que meus modelos e soluções rodam (clusters, servidores, API, containers, etc.)')    3642
Length: 353, dtype: int64

#### Fix columns names

In [44]:
columns = []
for column in df.keys():
    columns.append(column)

In [46]:
# Use uma expressão regular para extrair o texto após a vírgula
pattern = r"'\s*,\s*'(.+?)'"

new_column_names = [re.search(pattern, col).group(1) for col in columns]
# Criar um dicionário mapeando os nomes antigos para os novos
old_column_names = df.columns.tolist()
column_mapping = dict(zip(old_column_names, new_column_names))

# Renomear as colunas do DataFrame
df.rename(columns=column_mapping, inplace=True)

#### df demography

In [47]:
selected_columns = df.columns[1:5]
df_demography = df[selected_columns]
df_demography

      Idade Faixa idade     Genero Cor/raca/etnia
0      39.0       35-39  Masculino          Parda
1      32.0       30-34  Masculino          Parda
2      53.0       50-54  Masculino         Branca
3      27.0       25-29  Masculino         Branca
4      46.0       45-49   Feminino         Branca
...     ...         ...        ...            ...
4266   26.0       25-29  Masculino         Branca
4267   30.0       30-34   Feminino         Branca
4268   29.0       25-29  Masculino         Branca
4269    NaN       17-21  Masculino         Branca
4270   24.0       22-24  Masculino         Branca

[4271 rows x 4 columns]

In [48]:
df_demography.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4271 entries, 0 to 4270
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Idade           4197 non-null   float64
 1   Faixa idade     4271 non-null   object
 2   Genero          4262 non-null   object
 3   Cor/raca/etnia  4271 non-null   object
dtypes: float64(1), object(3)
memory usage: 133.6+ KB