In [1]:
import pandas as pd
import numpy as np
import re

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
dataTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
dataTrain.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
dataTrain.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

___

In [4]:
def average(parameter):
    return parameter / len(data) * 100

In [5]:
male = 0
female = 0

firstClass = 0
secondClass = 0
thirdClass = 0
Age = []

Child = 0
Old = 0


for passenger in range(len(data)):
    if  data["Survived"][passenger] == 1:
        if (data["Age"][passenger]) < 18:
            Child += 1
        if (data["Age"][passenger]) > 35:
            Old += 1
        if data["Sex"][passenger] == 'male':
            male += 1
        else: 
            female += 1
        if data["Pclass"][passenger] == 1:
            firstClass += 1
        elif data["Pclass"][passenger] == 2:
            secondClass += 1
        elif data["Pclass"][passenger] == 3:
            thirdClass += 1
    # if data["Pclass"][passenger] == 3 and data["Survived"][passenger] == 1:
    #     print(data["Age"][passenger], data["Sex"][passenger])         
    #     print(str(data["Name"][passenger]))

In [6]:
average(Old)

9.31537598204265

In [7]:

title_list = []
for passenger in range(len(data)):
    # if  data["Survived"][passenger] == 0:
    a = data['Name'][passenger]#.split()

    if re.findall(r'\, (.*)\.', a)[0] not in title_list:
        title_list.append(re.findall(r'\, (.*)\.', a)[0])

    # if a[1] not in title_list:
    #     title_list.append(a[1])
title_list

['Mr',
 'Mrs',
 'Miss',
 'Master',
 'Don',
 'Rev',
 'Dr',
 'Mme',
 'Ms',
 'Major',
 'Mrs. Martin (Elizabeth L',
 'Lady',
 'Sir',
 'Mlle',
 'Col',
 'Capt',
 'the Countess',
 'Jonkheer']

In [8]:
for passenger in range(len(data)):
    # if  data["Survived"][passenger] == 0:
    a = data['Name'][passenger]#.split()

    if re.findall(r'\, (.*)\.', a)[0] == title_list[-2]:
        print(data['Name'][passenger], data['Sex'][passenger], data['Survived'][passenger], data['Pclass'][passenger],)

Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards) female 1 1

In [9]:
model = RandomForestClassifier()