In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

sns.set_style('whitegrid')

#### Input and frist analysis data

In [21]:
df = pd.read_csv('data/State_of_data_2022.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4271 entries, 0 to 4270
Columns: 353 entries, ('P0', 'id') to ('P8_d_11 ', 'Criando e mantendo a infra que meus modelos e soluções rodam (clusters, servidores, API, containers, etc.)')
dtypes: bool(1), float64(284), object(68)
memory usage: 11.5+ MB

In [23]:
df.isnull().sum()

('P0', 'id')                                                                                                                     0
('P1_a ', 'Idade')                                                                                                              74
('P1_a_1 ', 'Faixa idade')                                                                                                       0
('P1_b ', 'Genero')                                                                                                              9
('P1_c ', 'Cor/raca/etnia')                                                                                                      0
                                                                                                                              ...
('P8_d_7 ', 'Realizando construções de dashboards em ferramentas de BI como PowerBI, Tableau, Looker, Qlik, etc.')            3642
('P8_d_8 ', 'Utilizando ferramentas avançadas de estatística como SAS, SPSS, Stata etc, para realizar análises.')             3642
('P8_d_9 ', 'Criando e dando manutenção em ETLs, DAGs e automações de pipelines de dados.')                                   3642
('P8_d_10 ', 'Criando e gerenciando soluções de Feature Store e cultura de MLOps.')                                           3642
('P8_d_11 ', 'Criando e mantendo a infra que meus modelos e soluções rodam (clusters, servidores, API, containers, etc.)')    3642
Length: 353, dtype: int64

#### Fix columns names

In [24]:
columns = []
for column in df.keys():
    columns.append(column)

In [25]:
# Use uma expressão regular para extrair o texto após a vírgula
pattern = r"'\s*,\s*'(.+?)'"

new_column_names = [re.search(pattern, col).group(1) for col in columns]
# Criar um dicionário mapeando os nomes antigos para os novos
old_column_names = df.columns.tolist()
column_mapping = dict(zip(old_column_names, new_column_names))

# Renomear as colunas do DataFrame
df.rename(columns=column_mapping, inplace=True)

#### df demography

In [26]:
selected_columns_1 = df.columns[1:15]
selected_columns_2 = df.columns[2:51]
selected_columns_3 = df.columns[52:89]
selected_columns_4 = df.columns[90:189]
selected_columns_5= df.columns[190:193]
selected_columns_6= df.columns[194:252]
selected_columns_7= df.columns[253:302]
selected_columns_7= df.columns[303:352]

In [27]:
df_quest_1 = df[selected_columns_1]
df_demography

,Idade,Faixa idade,Genero,Cor/raca/etnia,PCD,experiencia_profissional_prejudicada,aspectos_prejudicados,vive_no_brasil,Estado onde mora,uf onde mora,Regiao onde mora,Mudou de Estado?,Regiao de origem,Nivel de Ensino
0,39.0,35-39,Masculino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,Distrito Federal (DF),DF,Centro-oeste,False,Sudeste,Pós-graduação
1,32.0,30-34,Masculino,Parda,Não,"Sim, acredito que a minha a experiência profis...",Aprovação em processos seletivos/entrevistas,True,Pará (PA),PA,Norte,True,NaN,Graduação/Bacharelado
2,53.0,50-54,Masculino,Branca,Não,NaN,NaN,True,Distrito Federal (DF),DF,Centro-oeste,False,Sul,Pós-graduação
3,27.0,25-29,Masculino,Branca,Não,NaN,NaN,True,Minas Gerais (MG),MG,Sudeste,True,NaN,Doutorado ou Phd
4,46.0,45-49,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,Pará (PA),PA,Norte,True,NaN,Pós-graduação
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4266,26.0,25-29,Masculino,Branca,Não,NaN,NaN,True,São Paulo (SP),SP,Sudeste,True,NaN,Graduação/Bacharelado
4267,30.0,30-34,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,Minas Gerais (MG),MG,Sudeste,True,NaN,Mestrado
4268,29.0,25-29,Masculino,Branca,Não,NaN,NaN,True,São Paulo (SP),SP,Sudeste,False,Nordeste,Mestrado
4269,NaN,17-21,Masculino,Branca,Não,NaN,NaN,True,São Paulo (SP),SP,Sudeste,True,NaN,Não tenho graduação formal
4270,24.0,22-24,Masculino,Branca,Não,NaN,NaN,True,Goiás (GO),GO,Centro-oeste,False,Nordeste,Graduação/Bacharelado

In [28]:
df_demography.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4271 entries, 0 to 4270
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Idade                                 4197 non-null   float64
 1   Faixa idade                           4271 non-null   object
 2   Genero                                4262 non-null   object
 3   Cor/raca/etnia                        4271 non-null   object
 4   PCD                                   4271 non-null   object
 5   experiencia_profissional_prejudicada  2190 non-null   object
 6   aspectos_prejudicados                 837 non-null    object
 7   vive_no_brasil                        4271 non-null   bool
 8   Estado onde mora                      4156 non-null   object
 9   uf onde mora                          4156 non-null   object
 10  Regiao onde mora                      4171 non-null   object
 11  Mudou de Estado?                      4171 non-null   object
 12  Regiao de origem                      772 non-null    object
 13  Nivel de Ensino                       4271 non-null   object
dtypes: bool(1), float64(1), object(12)
memory usage: 438.1+ KB